.app_wrapper {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "myheader" "todo" "myfooter";
  min-height: 100vh;

}

.error {
  border: red 1px solid;
}
.error_message{
  color: red;
}
.active_filter {
  background-color: aquamarine;
}
.is_done {
  opacity: 0.5;
}